In [ ]:
# istatiğe giriş:

In [2]:
import numpy as np
import pandas as pd
from math import factorial

In [ ]:
# aritmetik ortalama: terimlerin toplamı bölü terim sayısı
# varyans bulma: aritmetik ortalamalardan tüm terimleri teker terker çıkarıyoruz. 
# her bir sonucun karesini alıyoruz. sonra kareleri toplamını terim sayısının bir eksiğine bölüyoruz.
# standart sapma bulma: varyansın karekökü

In [3]:
# örneklem modelleme: 
populasyon = np.random.randint(10,80, size = (100000))

In [5]:
np.random.seed(115)  # rastgele değerler elde etmek için.

In [6]:
orneklem1 = np.random.choice(populasyon, size = 100)

In [31]:
orneklem1.mean()

42.26

In [8]:
populasyon.mean()

44.51058

In [32]:
orneklem2 = np.random.choice(populasyon, size = 100)
orneklem3 = np.random.choice(populasyon, size = 100)
orneklem4 = np.random.choice(populasyon, size = 100)
orneklem5 = np.random.choice(populasyon, size = 100)
orneklem6 = np.random.choice(populasyon, size = 100)
orneklem7 = np.random.choice(populasyon, size = 100)
orneklem8 = np.random.choice(populasyon, size = 100)
orneklem9 = np.random.choice(populasyon, size = 100)
orneklem10 = np.random.choice(populasyon, size = 100)

In [33]:
np.array([orneklem1,orneklem2,orneklem3,orneklem4,orneklem5,orneklem6,orneklem7,orneklem8,orneklem9,orneklem10]).mean()

42.829

Örneklem sayısı arttıkça ana kümeye benzeme oranı arttıkça sonuçlar ana kümey yaklaşır.

In [ ]:
# Kovaryans: nedir? iki tane değişkenin zaman içindek değişimlerinin yönüdür.

In [36]:
df = pd.DataFrame(np.random.randint(2,30, size = (5,2)),  columns=["deg1","deg2"])
df

   deg1  deg2
0    20    11
1    13    18
2     4     5
3    13    18
4    20    27

In [37]:
df['deg1'].mean()

14.0

In [38]:
df['deg2'].mean()

15.8

In [39]:
df.cov() # kovaryans iki değişkenin arasındaki ilişkinin yönünü göstterir

      deg1  deg2
deg1  43.5  35.5
deg2  35.5  68.7

In [ ]:
# korelasyon iki değişken arasındaki ilişkinin ölçeklendirilmesidir.

In [41]:
x = df['deg1'] - (df["deg1"].mean())
y = df['deg2'] - (df["deg2"].mean())

In [42]:
x

0     6.0
1    -1.0
2   -10.0
3    -1.0
4     6.0
Name: deg1, dtype: float64

In [43]:
y

0    -4.8
1     2.2
2   -10.8
3     2.2
4    11.2
Name: deg2, dtype: float64

In [44]:
x_kare = x **2
x

0     6.0
1    -1.0
2   -10.0
3    -1.0
4     6.0
Name: deg1, dtype: float64

In [46]:
y_kare = y**2
y

0    -4.8
1     2.2
2   -10.8
3     2.2
4    11.2
Name: deg2, dtype: float64

In [47]:
çarpım = x * y
çarpım

0    -28.8
1     -2.2
2    108.0
3     -2.2
4     67.2
dtype: float64

In [48]:
çarpım_toplam = çarpım.sum()
x_kare_toplam = x_kare.sum()
y_kare_toplam = y_kare.sum()

In [49]:
korelasyon = çarpım_toplam/((x_kare_toplam*y_kare_toplam)**0.5)
korelasyon

0.6493896402909927

In [50]:
df.cov()

      deg1  deg2
deg1  43.5  35.5
deg2  35.5  68.7

In [51]:
df[["deg1","deg2"]].cov()

      deg1  deg2
deg1  43.5  35.5
deg2  35.5  68.7

In [53]:
df[["deg1","deg2"]].cov()

      deg1  deg2
deg1  43.5  35.5
deg2  35.5  68.7

In [55]:
df[["deg1"]].cov()

      deg1
deg1  43.5

In [56]:
df[["deg1", "deg2"]].corr()  # korelasyon

         deg1     deg2
deg1  1.00000  0.64939
deg2  0.64939  1.00000

In [57]:
import seaborn as sns

In [58]:
df = sns.load_dataset("tips")

In [59]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [60]:
df[["total_bill", "tip"]].corr()

            total_bill       tip
total_bill    1.000000  0.675734
tip           0.675734  1.000000

In [61]:
df[["total_bill","tip"]].cov()

            total_bill       tip
total_bill   79.252939  8.323502
tip           8.323502  1.914455

# güven aralıkları: 
bir  web sitesinde geçirilen sürenin güven aralığı nedir?
n = kişi sayısı
ortalama
standart sapma
n = 100
ortalama = 180
std = 40
güven aralığı kat sayıları = 1.96

In [65]:
180+1.96*40/(100*0.5)

181.568

In [ ]:
# 172 -188 arasında % 95 lik bir başarı var. 
# kullanıcıların % 95 i 178-181 saniye aralıklarında sitemizde

In [66]:
fiyat = np.random.randint(70,100, size = 100)

In [67]:
# kullanıcıların % 95 i hangi fiat aralığın vermiş.

In [69]:
import statsmodels.stats.api as sms
# güven aralıklarını hesaplarken kullandığımız kütüphane

In [70]:
sms.DescrStatsW(fiyat).tconfint_mean()

(81.95406674198843, 85.44593325801158)

In [71]:
fiyat.mean()

83.7

In [72]:
fiyat.std()

8.754998572244315

# istatistik dağılımları 
binom (bernoulli) true ya da false döndürür, doğru ya da yanlış, yazı ya da tura
bir kere gerçekleşirse bernoulli 
n defa gerçekeleşirse binom

In [76]:
yazı = 1/2
tura = 1/2
# 7 defa parayı havaya atarsak
((7*6*5)/(3*2*1))*(yazı**3)*(tura**4)

0.2734375

In [77]:
from scipy.stats import bernoulli
from scipy.stats import binom

In [81]:
yt = binom(7,0.5)

In [82]:
yazı = yt.pmf(3)

In [83]:
yazı

0.27343750000000017

In [ ]:
# 10 tane hasta dan iki tanesinin iyileşme olasılığı

In [86]:
p = 1/2
n = 10
rv = binom(n,p)
hasta_iki= rv.pmf(6)
hasta_iki

0.20507812500000022

In [89]:
# en fazla iki hastanın iyileşme olasılığı
p = 1/2
n = 10
rv = binom(n,p)
hasta1 = rv.pmf(0)  # hiç hasta iyileşmedi
hasta2 = rv.pmf(1)  # 1 hasta iyileşti
hasta3 = rv.pmf(2)
sonuç = hasta1+hasta2+hasta3
sonuç

0.0546875