In [1]:
# İSTATİSTİĞE GİRİŞ :

In [2]:
import numpy as np
import pandas as pd
from math import factorial

In [ ]:
# Aritmetik ortalama : 10,8,7,6,5  (10+8+7+6+5)/5
# Varyans Bulma : ((10-7.2)**2) tüm sayıları yapacağız sonra hepsini toplayacağız, x/(5-1)= varyans değeri.
# standast sapma = varyansın karekökü.

In [5]:
# Örneklem Modelleme :
populasyon= np.random.randint(10,80,size=100000)

In [6]:
np.random.seed(115)

In [11]:
orneklem1=np.random.choice(a=populasyon, size=100)

In [12]:
orneklem1.mean()

42.58

In [13]:
populasyon.mean()

44.45513

In [14]:
44.45513-42.58

1.8751299999999986

In [20]:
orneklem1=np.random.choice(a=populasyon, size=100)
orneklem2=np.random.choice(a=populasyon, size=100)
orneklem3=np.random.choice(a=populasyon, size=100)
orneklem4=np.random.choice(a=populasyon, size=100)
orneklem5=np.random.choice(a=populasyon, size=100)
orneklem6=np.random.choice(a=populasyon, size=100)
orneklem7=np.random.choice(a=populasyon, size=100)
orneklem8=np.random.choice(a=populasyon, size=100)
orneklem9=np.random.choice(a=populasyon, size=100)
orneklem10=np.random.choice(a=populasyon, size=100)
# toplamda 100000 tane rakam içinden döndü.

In [22]:
(orneklem1.mean()+orneklem2.mean()+orneklem3.mean()+orneklem4.mean()+orneklem5.mean()+orneklem6.mean()+orneklem7.mean()+
 orneklem8.mean()+orneklem9.mean()+orneklem10.mean())/10

44.681000000000004

In [17]:
populasyon.mean()

44.45513

In [23]:
orneklem1.mean()

50.53

In [ ]:
# Örneklem sayısı arttıkça ana veri kümeye yakınlık oranları artar.

In [ ]:
# Kovaryans : iki değişken arasındaki ilişkisel oranları inceler. Bir değişken artar veya azalırsa diğer değişkende 
# artar veya azalırsa pozitif yönlü kovaryans vardır.

In [24]:
df=pd.DataFrame(np.random.randint(2,30,size=(5,2)), columns=["deg1","deg2"])
df

   deg1  deg2
0     4    10
1     4     9
2    10    15
3    26    26
4    14    17

In [25]:
df["deg1"].mean()

11.6

In [26]:
df["deg2"].mean()

15.4

In [27]:
a=df["deg1"]-(df["deg1"].mean())
a

0    -7.6
1    -7.6
2    -1.6
3    14.4
4     2.4
Name: deg1, dtype: float64

In [28]:
b=df["deg2"]-(df["deg2"].mean())
b

0    -5.4
1    -6.4
2    -0.4
3    10.6
4     1.6
Name: deg2, dtype: float64

In [29]:
c = a*b
c

0     41.04
1     48.64
2      0.64
3    152.64
4      3.84
dtype: float64

In [30]:
kovaryans=(c.sum())/5
kovaryans
# bu 2 tablo arasında pozitif yönlü bir kovaryans ilişkisi var.

49.36

In [ ]:
# Korelasyon iki değişken arasındaki ilişkinin durumunu inceler.
# -1 ve +1 arsında değer alır.
# 0-1 arasında değer pozitif korelasyon, -1 ve 0 arasında negatif korelasyon vardır.

In [31]:
x = df["deg1"]-(df["deg1"].mean())
y = df["deg2"]-(df["deg2"].mean())

In [32]:
x

0    -7.6
1    -7.6
2    -1.6
3    14.4
4     2.4
Name: deg1, dtype: float64

In [33]:
y

0    -5.4
1    -6.4
2    -0.4
3    10.6
4     1.6
Name: deg2, dtype: float64

In [34]:
x_kare=x**2
x_kare

0     57.76
1     57.76
2      2.56
3    207.36
4      5.76
Name: deg1, dtype: float64

In [35]:
y_kare=y**2
y_kare

0     29.16
1     40.96
2      0.16
3    112.36
4      2.56
Name: deg2, dtype: float64

In [36]:
carpım=x*y
carpım

0     41.04
1     48.64
2      0.64
3    152.64
4      3.84
dtype: float64

In [37]:
carpım_toplam=carpım.sum()
x_kare_toplam=x_kare.sum()
y_kare_toplam=y_kare.sum()

In [38]:
korelasyon= carpım_toplam/((x_kare_toplam*y_kare_toplam)**0.5)
korelasyon

0.9965050413051842

In [39]:
df[["deg1","deg2"]].cov()

      deg1  deg2
deg1  82.8  61.7
deg2  61.7  46.3

In [40]:
df[["deg1"]].cov()
# kovaryans.

      deg1
deg1  82.8

In [41]:
df[["deg2"]].cov()

      deg2
deg2  46.3

In [43]:
df[["deg1"]].corr()
# korelasyon.

      deg1
deg1   1.0

In [44]:
df[["deg2"]].corr()

      deg2
deg2   1.0

In [46]:
df[["deg1","deg2"]].corr()

          deg1      deg2
deg1  1.000000  0.996505
deg2  0.996505  1.000000

In [47]:
import seaborn as sns

In [48]:
df=sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [49]:
df[["total_bill","tip"]].cov()

            total_bill       tip
total_bill   79.252939  8.323502
tip           8.323502  1.914455

In [50]:
df[["total_bill","tip"]].corr()

            total_bill       tip
total_bill    1.000000  0.675734
tip           0.675734  1.000000

In [55]:
# Güven Aralıkları : Ör : bir web sitesinde geçirilen geçirilen sürenin güven aralığı nedir? 
# n = kişi sayısı, ort, standart_sapma, 
# n= 100, ort = 180 , std=40
# eğer %95 lik hesaplarsak 1.96 değeri ile çarpacağız.
a=180+1.96*40/(100*0.5)
# 172-188 arasında %95 lik bir başarı var demektir.
b=180-1.96*40/(100*0.5)
print(a)
print(b)
# kullanıcıların %95 i 182-179 saniye aralıklarında sitemizde.
# minumun %95

181.568
178.432

In [56]:
fiyat= np.random.randint(70,100,size=100)

In [57]:
# %95 i hangi fiyat aralığını vermiş.

In [58]:
import statsmodels.stats.api as sms
# güven aralıklarını hesaplarken kullanacağımız kütüphanemiz

In [60]:
sms.DescrStatsW(fiyat).tconfint_mean()

(82.58529044229904, 86.11470955770095)

In [61]:
fiyat.mean()

84.35

In [62]:
fiyat.std()

8.849152501793604

In [63]:
a=84.35+1.96*8.849152501793604/(100**0.5)
b= 84.35-1.96*8.849152501793604/(100**0.5)
print(a)
print(b)

86.08443389035153
82.61556610964846

Binom(Bernoulli): 1 kere Bernoulli, n defa binom.  
inom Açılımı
(n+1) tane terim vardır.
Her terimde üsler toplamı n'e eşittir.
Katsayılar toplamını bulmak için, a = 1 ve b=1 yazılır.
Sabit terimi bulmak için, a=0 ve b=0 yazılır.
From C812-rana g to Everyone:  12:07 AM
Başarı olasılığı olan bir Bernoulli denemesinin aynı şartlar altında (bağımsız olarak) n kez
tekrarlanması ile oluşan deneye binom deneyi denir
Bir deneyde başarı ve başarısızlık diye nitelendirilen iki sonuçla ilgilenildiğinde bu deneye (iki sonuçlu) Bernoulli deneyi ya da Bernoulli denemesi denir.

In [64]:
yazı=1/2
tura=1/2
((7*6*5)/(3*2*1))*(yazı**3)*(tura**4)

0.2734375

In [65]:
from scipy.stats import bernoulli
from scipy.stats import binom

In [72]:
rv=binom(7,0.5)
# rv= binom(n, 0.5)

In [70]:
yazı=rv.pmf(3)

In [73]:
yazı

0.27343750000000017

In [74]:
# 10 tane hasta :  
# 2 tanesini iyileşme olasılığı : 
p=1/2
n=10
rv=binom(n,p)
hasta_iki=rv.pmf(2)
hasta_iki

0.04394531249999999

In [75]:
# 6 tanesi : 
p=1/2
n=10
rv=binom(n,p)
hasta_altı=rv.pmf(6)
hasta_altı

0.20507812500000022

In [78]:
# en fazla 2 tane :
p=1/2
n=10
rv=binom(n,p)
hasta1=rv.pmf(0)
hasta2=rv.pmf(1)
hasta3=rv.pmf(2)
print(hasta1)
print(hasta2)
print(hasta3)
print(hasta1+hasta2+hasta3)

0.0009765625
0.00976562500000001
0.04394531249999999
0.0546875

In [79]:
# en az 3 kişinin:
hasta_enaz=1-hasta1-hasta2-hasta3
hasta_enaz

0.9453125